:root {
    --text: #FFFFFF;
    --details: #FDAE91;
    --background: #3C3C3C;
    --navigation: #797979;
}
.topnav {
    overflow: hidden;
  background-color: var(--background);
  position: relative;
  font-family: "Omnes-pro";
} 
.topnav #links {
    display: none;
}
.topnav a {
    color: var(--text);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
    display: block;
}
.topnav a.icon {
    background: var(--background);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}
.topnav a:hover {
    background-color: var(--navigation);
    color: var(--details);
}
.nav{
    display:none
}

@keyframes slideShow {
    0% {width: 100%; left: 100%}
    5% {left: 0}
    25% {left: 0}
    30% {width: 100%; left: -100%}
    30.001% {width: 0; left: -100%}
    100% {width: 0%; left: 100%}
}
.slideshow{
    width: 100%;
    height: 50vh;
    position: relative;
    overflow: hidden;
}
.slide{
    position: absolute;
    width: 100%;
    height: inherit;
    overflow: hidden;
    animation: slideShow 14s infinite;
    background-position: center;
    background-size: cover;
    background-color: #3c3c3c;
    color: var(--details);
    font-size: 25px;
    font-family: "omnes-pro";
    display: flex;
    justify-content: center;
    align-items: center;
}
.back {
    background-color: #3c3c3cb2;
    padding: 5px;
    border-radius: 5px;
    color: var(--details);
}
.slide:nth-child(1){
    left: 0%;
    animation-delay: 11s;
    background-image: url(./slides/louze.png);
}
.slide:nth-child(2){
    left: 0%;
    animation-delay: 8s;
    background-image: url(./slides/budova.png);
}
.slide:nth-child(3){
    left: 0%;
     animation-delay: 5s;
     background-image: url(./slides/svetlo.png);
}
.slide:nth-child(4){
    left: 0%;
     animation-delay: 2s;
     background-image: url(./slides/mesto.png);
}
.slide:nth-child(5){
    left: 0%;
     animation-delay: -1s;
     background-image: url(./slides/kolo.png);
}
body {
    margin: 0;
    background-color: var(--background);
}
main{
   display: flex;
   flex-direction: row;
   justify-content: center;
   padding: 10px;
}
p {
    color: var(--text);
    font-family: "Omnes-pro";
    font-size: 18px;
    margin: 20px;
}
.profile {
    margin: 10px;
    width: 100%;
    max-width: 700px;
    min-width: 150px;
}
.about {
    padding: 10px;
    margin-top: 0px;
    text-align: left;
}
.contact{
    background-color: #FDAE91;
}
label{
    font-size: 18px;
    color: var(--text);
    font-family: "omnes-pro";
    margin: 20px;
}
input{
    border-radius: 5px;
    background-color: var(--navigation);
    border: none;
    color: var(--text);
    padding: 5px;
    
}
textarea{
    border-radius: 5px;
    background-color: var(--navigation);
    border: none;
    color: var(--text);
    margin: 20px;
    padding: 10px;
}
footer {
    display: flex;
    justify-content: center;
    margin: auto;
}
.icons{
    width: 30%;
    padding: 10px;
}
@media (min-width: 990px) {
    .nav {
      background-color: var(--background);
      font-family: "Omnes-pro";
      height:auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      padding: 20px;
      margin: auto;
    }
    .topnav {
        display: none;
    }
    #navline a {
        color: var(--text);
        font-size: 25px;
        font-family: "omnes-pro";
        text-decoration: none;
        margin-right: 40px;
    }
    #navline a:hover {
        color: var(--details);
    }
    #navline .active {
        color: var(--details);
    }
    .back{
        font-size: 40px;
        background-color: #3c3c3cb2;
    }
    .slideshow{
        height: 100vh;
    }
    .profile{
        margin: 30px;
    }
    .about{
        text-align: justify;
    }
    p{
        font-size: 35px;
        margin: 30px;
    }
    label{
        font-size: 35px;
        margin: 30px;
    }
    .icons{
        width: 50%;
    }
}