:root {
    --text: #FFFFFF;
    --details: #FDAE91;
    --background: #3C3C3C;
}
.topnav {
    overflow: hidden;
  background-color: var(--details);
  position: relative;
} 
.topnav #links {
    display: none;
}
.topnav a {
    color: var(--text);
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
}
.topnav a.icon {
    background: var(--background);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

